.line {
    width: 42px;
    height: 2px;
    background-color: $brown;
}

.dot {
    &-box {
        @include flexVerCenter;
        gap: 13px;
        @include xs {
            display: none;
        }
    }
    cursor: pointer;
    background: #303030;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    @include transition(all 0.2s linear);
    &.active {
        background: $brown;
    }
}
